<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.side.wiki.mapper.DebateBoardMapper">
	
	<select id="getDebateDetail" resultType="com.side.wiki.vo.DebateReplyVO" parameterType="string">
		select doc_title as docTitle, writer, content, regdate, reply_no as replyNo
		from debatereply 
		where doc_title = #{docTitle}
		order by reply_no
	</select>
	
	<insert id="makeDebatePage">
		insert into debatereply (doc_title) values (#{docTitle})
	</insert>

	<insert id="insertReply" parameterType="com.side.wiki.vo.DebateReplyVO">
		insert into debatereply(doc_title, reply_no, content, regdate, writer, password) 
		values(#{docTitle}, debatereply_seq.nextval, #{content}, sysdate, #{writer}, #{password})
	</insert>
	
	<delete id="deleteReply" parameterType="com.side.wiki.vo.DebateReplyVO">
		delete from debatereply
		where doc_title = #{docTitle} and reply_no = #{replyNo} and password = #{password}
	</delete>
</mapper>